/* 타입별 메뉴 */
.typemenu {
    list-style-type: none;
    padding: 0px;
    margin-top: -60px;
    width: 170px;
    background: greenyellow;
    height: 100%;
    overflow: auto;
    position: fixed;
    text-align: center;
  }
  
  .typemenu > li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #000;
    font-weight: bold;
  }
  
  .typemenu > li a:hover {
    background: #333;
    color: #fff;
  }
  
  .productinfo {
    margin-left: 120px;
  }
  
  /* 브랜드별 메뉴 */
  .placetypemenu {
    width: 950px;
    overflow: auto;
    position: relative;
    padding: 0;
    display: flex;
    margin-top: 110px;
    margin-left: 170px;
    align-content: center;
  }
  
  .placetypemenu > li {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    display: block;
  
    cursor: pointer;
  }
  
  .placetypemenu > li {
    background-color: white;
    list-style-type: none;
    text-align: center;
    line-height: 50px;
    width: calc(100% / 3);
  }
  
  .colormenu li {
    cursor: pointer;
  }
  
  .home {
    cursor: pointer;
    font-size: 20px;
  }
  
  li:nth-child(1),
  li:nth-child(2) {
    border-right: none;
  }
  
  #result-box {
    width: 100%;
    height: auto;
    margin-top: 70px;
  }
  
  .main_body {
    margin-top: 20px;
    margin-left: 190px;
  }
  
  .place_box {
    width: 90%;
    height: 250px;
  
    margin: 20px auto;
  
    border: 1px solid gray;
    box-shadow: 1px 1px 3px gray;
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .place_img_box {
    width: 40%;
    height: 100%;
  }
  
  .place_img_box img {
    height: 70%;
  
    margin-top: 30px;
  
    float: right;
    object-fit: cover;
  }
  
  .place_info_box {
    width: 40%;
    height: 100%;
  }
  
  .place_info_box h2 {
    text-align: center;
    margin-top: 20px;
  }
  
  .place_info_list {
    font-size: 35px;
  }
  
  .place_info_list li {
    margin-top: 10px;
  }
  
  .place_info_list li span {
    font-weight: 600;
  }
  


  /* 업로드 박스 */
.upload_box {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.35),
      rgba(255, 255, 255, 0.35)
    ),
    url("../image/shoes.png");
  background-size: contain;

  position: relative;

  width: 800px;
  max-width: 100%;
  /* height: 800px; */
  max-height: 100%;

  padding: 10px;
  margin-top: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 3px solid #000000;
  border-radius: 5px;
}

/* 업로드 박스 : 백그라운드 이미지 효과 */
/* .upload_box::before {
    background-image: url("../image/shoes.png");
    background-size: cover;

    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    content: "";

    opacity: 0.5;
} */

/* 업로드 박스 텍스트 */
.upload_text_box {
  font-size: 50px;

  margin: 30px 0 30px 0;
}

/* 등록할 이미지 박스 */
.img_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* 첫번째 이미지 박스 */
.a_img {
  background-color: #ffffff;
  background-size: cover;

  width: 250px;
  height: 250px;

  margin-right: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 3px dashed #000000;
  border-radius: 5px;
}

/* 첫번째 이미지 텍스트 */
.a_img p {
  font-size: 25px;
}

/* 첫번째 이미지 선택 버튼 : 기본 */
.a_img button {
  background-color: #ffffff;

  width: 110px;
  height: 30px;

  font-size: 15px;

  border: 2px solid #000000;
  border-radius: 5px;

  cursor: pointer;
}

/* 첫번째 이미지 선택 버튼 : 눌렸을 때 */
.a_img button:active {
  background-color: #bbffee;
}

/* 첫번째 이미지에 등록된 이미지 */
.a_img img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* 플러스 아이콘 박스 */
.plus_icon {
  width: 30px;
  height: 30px;
}

/* 플러스 아이콘 이미지 */
.plus_icon img {
  width: 30px;
  height: 30px;
}

/* 두번째 이미지 박스 */
.b_img {
  background-color: #ffffff;
  background-size: cover;

  width: 250px;
  height: 250px;

  margin-left: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 3px dashed #000000;
  border-radius: 5px;
}

/* 두번째 이미지 텍스트 */
.b_img p {
  font-size: 25px;
}

/* 두번째 이미지에 등록된 이미지 */
.b_img img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* 두번째 이미지 선택 버튼 : 기본 */
.b_img button {
  background-color: #ffffff;

  width: 110px;
  height: 30px;

  font-size: 15px;

  border: 2px solid #000000;
  border-radius: 5px;

  cursor: pointer;
}

/* 두번째 이미지 선택 버튼 : 눌렸을 때 */
.b_img button:active {
  background-color: #bbffee;
}

/* 새로고침, 결과보기 버튼이 있는 박스 */
.button_box {
  margin: 40px 0 30px 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* 새로고침 버튼 박스 */
.refresh_button {
  margin: 0 30px 0 30px;
}

/* 새로고침 버튼 : 기본 */
.refresh_button button {
  background-color: #ffffff;

  width: 100px;
  height: 50px;

  font-size: 18px;

  border: 2px solid #000000;
  border-radius: 5px;

  cursor: pointer;
}

/* 새로고침 버튼 : 눌렸을 때 */
.refresh_button button:active {
  background-color: #bbffee;
}

/* 결과보기 버튼 박스 */
.result_view_button {
  margin: 0 30px 0 30px;
}

/* 결과보기 버튼 : 기본 */
.result_view_button button {
  background-color: #ffffff;

  width: 100px;
  height: 50px;

  font-size: 18px;

  border: 2px solid #000000;
  border-radius: 5px;

  cursor: pointer;
}

/* 결과보기 버튼 : 눌렸을 때 */
.result_view_button button:active {
  background-color: #bbffee;
}
